asgiref==3.8.1
diff-match-patch==20241021
Django==4.2.18
django-extensions==3.2.3
django-import-export==4.3.5
django-tables2==2.7.5
gunicorn==23.0.0
packaging==24.2
sqlparse==0.5.3
tablib==3.8.0
typing-extensions==4.12.2
waitress==3.0.2
whitenoise==6.9.0