{% include 'timer/header.html' %}
{% load render_table from django_tables2 %}

{% if not surgeon_list or not operation_list %}
    <h2 class="text-danger">Please make sure to add at least one surgeon and operation before adding time entries.</h2>
{% endif %}


<div class="row border">
    {% if surgeon_list and operation_list %}
    <div class="col border"><br>
        {% include 'timer/add_templates/begin_new_operation.html' %}
    </div>
    {% endif %}

    <div class="col border"><br>
    {% include 'timer/add_templates/add_new_surgeon.html' %}
    </div>

    <div class="col border"><br>

        {% include 'timer/add_templates/add_new_operation.html' %}
    </div>


</div> 
{% include 'timer/footer.html' %}
