{% include 'timer/header.html' %}

<h2>Edit steps for new operation {{ operation_instance }}</h2>
<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <div id="formset-container">
        {% for form in formset %}
            <div class="form-row">
                {{ form.title }} 
                {{ form.id }}
                <button class="move-up" type="button">↑</button> 
                <button class="move-down" type="button">↓</button>
                <button class="remove" type="button">Remove</button>
            </div>
        {% endfor %}
    </div>
    <button type="button" id="add-form">Add Another Step</button>
    <button type="submit">Submit</button>
</form>

<script>
    document.getElementById('add-form').onclick = function() {
        // get the container with the forms (i.e. each step field)
        var container = document.getElementById('formset-container');
        // clone the 0th element into a variable
        var newForm = container.children[0].cloneNode(true);
        newForm.querySelectorAll('input').forEach(input => {
            //input.value = document.getElementById('formset-container').querySelectorAll('div').length;
            input.value = '';
            input.name = input.name.replace(/\d+/, container.children.length); // Update index
            input.id = input.id.replace(/\d+/, container.children.length);
        });
        container.appendChild(newForm);
        document.getElementById('id_form-TOTAL_FORMS').value = document.getElementById('formset-container').querySelectorAll('div').length;
        // need to do a replace on the value of document.getElementById('id_form-TOTAL_FORMS') to be the new form count length!!!!!!!!!!
    };

    // Add event listeners for move buttons and remove buttons
    // Additional JavaScript logic needed for moving and removing forms.
    // what it looks like on initial after adding a couple entries, when it works properly:
    /*
<div id="formset-container">
        
            <div class="form-row">
                <input type="text" name="form-0-title" maxlength="50" id="id_form-0-title"> 
                <input type="hidden" name="form-0-id" id="id_form-0-id">
                <button class="move-up" type="button">↑</button> 
                <button class="move-down" type="button">↓</button>
                <button class="remove" type="button">Remove</button>
            </div>
        
            <div class="form-row">
                <input type="text" name="form-1-title" maxlength="50" id="id_form-1-title"> 
                <input type="hidden" name="form-1-id" id="id_form-1-id" value="">
                <button class="move-up" type="button">↑</button> 
                <button class="move-down" type="button">↓</button>
                <button class="remove" type="button">Remove</button>
            </div>
            <div class="form-row">
                <input type="text" name="form-2-title" maxlength="50" id="id_form-2-title"> 
                <input type="hidden" name="form-2-id" id="id_form-2-id" value="">
                <button class="move-up" type="button">↑</button> 
                <button class="move-down" type="button">↓</button>
                <button class="remove" type="button">Remove</button>
            </div></div>
    */
</script>




{% include 'timer/footer.html' %}