{% load render_table from django_tables2 %}
{% include 'timer/header.html' %}

<h1>Operation: {{ operationEntry }}</h1>

{% if operationTimerEntries %}
    {% render_table timerEntryTable %}

<!--{% for entry in operationTimerEntries %}
    <li><a href="{% url 'timer:timer_entry_detail' entry.id %}">{{ entry.title }}</a></li>
{% endfor %}-->
{% else %}
<p>No timer entries for this operation type have been saved yet.</p>
{% endif %}

{% include 'timer/add_templates/add_new_operation.html' %}

{% include 'timer/footer.html' %}