{% load render_table from django_tables2 %}
{% include 'timer/header.html' %}

<h1>Timer Entry: {{ TimerEntry.title }}</h1>

    {% render_table timerEntryTable %}
<h3>Detail</h3>
<p>{{ TimerEntry.detail }}</p>
<br>
<!--
<ul>
    <li> Work performed by {{ TimerEntry.surgeon }}</li>
    <li> {{ TimerEntry.date|date:"l, M jS, Y" }}</li>
    <li> {{ TimerEntry.start_time|date:"h:i:s A" }} - {{ TimerEntry.end_time|date:"h:i:s A" }}</li>
    <li> Operation type: {{ TimerEntry.operation }}</li>
</ul>
-->
<a href="{% url 'timer:update_timer_entry' TimerEntry.id %}" class="btn btn-info">Update timer entry</a>
<a href="{% url 'timer:delete_timer' TimerEntry.id %}" class="btn btn-danger">Delete timer entry</a>

<!--button class="btn btn-danger rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete">Delete entry</button-->

<!--
<br><br>
{% include 'timer/add_templates/add_new_timer.html' %}
-->

{% include 'timer/footer.html' %}
